<div class="h3 text-success font-weight-bold">プロフィール編集画面</div>
<br>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

<%# アカウント編集時に画像を入力できるようにフォームを追加 %>
  <div class="field">
    <%= f.label "画像アップロード", class: "text-success" %><br />
    <%= f.file_field :image, autofocus: true, class: "text-success" %>
  </div>

  <!--アカウント編集時に名前を入力できるようにフォームを追加-->
  <div class="field">
    <%= f.label :ユーザー名, class: "text-success" %><br />
    <%= f.text_field :user_name, autofocus: true, class: "text-success" %>
  </div>


  <!--アカウント編集時にプロフィールを入力できるようにフォームを追加-->
  <div class="field">
    <%= f.label :自己紹介, class: "text-success" %><br />
    <%= f.text_area :pr, autofocus: true, class: "text-success" %>
  </div>

  <div class="actions">
    <%= f.submit "更新" %>
  </div>

  <%= link_to '戻る', :back, class: "btn btn-outline-success" %>

<% end %>
  