<div class="card mb-3">
    <div class="card-body">
        <p class="card-text"><a href="/users/<%= tweet.user.id %>"><%= tweet.user.user_name %></p>
        <p class="card-text"><a href="/tweets/<%= tweet.id %>"><%= tweet.content %></p>
            <%# 編集、削除ボタンの制御 %>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <% if user_signed_in? && tweet.user == current_user %>
            <div class="text-right" class="text-top">
                <%= link_to '編集', edit_tweet_path(tweet), class: "btn btn-outline-primary" %>
                <%= link_to '削除', tweet, method: :delete, class: "btn btn-outline-warning" %>
            </div>
            <% end %>
        </div>
            <% if tweet.image? %>
                <%= image_tag tweet.image.url, :size =>'420x500' %>
            <% end %>

            <% if user_signed_in? %>
                    <div class="btn-group" role="group">
                <%# いいね機能ボタン %>
                        <% if current_user.already_liked?(tweet) %>
                        <div class="btn btn-outline-success">
                            <%= link_to 'いいね解除', tweet_like_path(id: tweet.id, tweet_id: tweet.id), method: :delete %>
                            <%= tweet.likes.count %>
                        </div>
                        <% else %>
                        <div class="btn btn-outline-success">
                            <%= link_to 'いいね', tweet_likes_path(id: tweet.id, tweet_id: tweet.id), method: :post %>
                            <%= tweet.likes.count %>
                        </div>
                        <% end %>
                <%# お気に入り機能ボタン %>
                        <% if current_user.already_favorited?(tweet) %>
                        <div class="btn btn-outline-success">
                            <%= link_to 'お気に入り解除', tweet_favorite_path(id: tweet.id, tweet_id: tweet.id), method: :delete %>
                            <%= tweet.favorites.count %>   
                        </div>            
                        <% else %>
                        <div class="btn btn-outline-success">
                            <%= link_to 'お気に入り', tweet_favorites_path(id: tweet.id, tweet_id: tweet.id), method: :post %>
                            <%= tweet.favorites.count %>
                        </div>
                        <% end %>
                        </div>
                    <% end %>
            
    </div>
</div>
