<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title"><%= tweet.title %></h5>
        <p class="card-text"><%= tweet.content %></p>
        <%= link_to '投稿', tweet, class: "btn btn-outline-primary" %>
        <%= link_to '編集', edit_post_path(tweet), class: "btn btn-outline-primary" %>
        <%= link_to '削除', tweet, method: :delete, class: "btn btn-outline-danger" %>
    </div>
</div>