<h5>投稿一覧</h5>
    <%# 検索機能追加 %>
    <%= search_form_for @q, url: search_tweets_path do |f| %>
        <%= f.label :content_cont, '投稿' %>
        <%= f.search_field :content_cont %>
        <%= f.submit '検索' %>
    <% end %>

    <% if user_signed_in? %>
        <%= link_to '新規投稿', new_tweet_path %>
    <% end %>
    <%# 画面スクロール %>
    <div class="scroll">

    <% @tweets.each do |tweet| %>
        <div class="card mb-3">
            <div class="card-body">
                <p class="card-text"><%= tweet.user.user_name %></p>
                <%# 画像 %>
                    <% if tweet.image? %>
                        <%= image_tag tweet.image.url, :size =>'420x500' %>
                    <% end %>
                <p class="card-text"><%= tweet.content %></p>
                <%# 編集、削除ボタンの制御 %>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <% if user_signed_in? && tweet.user == current_user %>
                    <div class="text-right" class="text-top">
                        <%= link_to '編集', edit_tweet_path(tweet), class: "btn btn-outline-primary" %>
                        <%= link_to '削除', tweet, method: :delete, class: "btn btn-outline-warning" %>
                    </div>
                    <% end %>
                </div>
                
                
                    <% if user_signed_in? %>
                    <div class="btn-group" role="group">
                <%# いいね機能ボタン %>
                        <% if current_user.already_liked?(tweet) %>
                        
                            <%= link_to 'いいね解除', tweet_like_path(id: tweet.id, tweet_id: tweet.id), method: :delete, class: "btn btn-outline-danger" %>
                            <%= tweet.likes.count %>
                        <% else %>
                            <%= link_to 'いいね', tweet_likes_path(id: tweet.id, tweet_id: tweet.id), method: :post, class: "btn btn-outline-danger" %>
                            <%= tweet.likes.count %>
                        <% end %>
                <%# お気に入り機能ボタン %>
                        <% if current_user.already_favorited?(tweet) %>
                            <%= link_to 'お気に入り解除', tweet_favorite_path(id: tweet.id, tweet_id: tweet.id), method: :delete %>
                            <%= tweet.favorites.count %>                
                        <% else %>
                            <%= link_to 'お気に入り', tweet_favorites_path(id: tweet.id, tweet_id: tweet.id), method: :post %>
                            <%= tweet.favorites.count %>        
                        <% end %>
                    </div>
                    <% end %>
            </div>
        </div>
        
    <% end %>
</div>