    <div class="flame card">
        <div class="d-flex ml-3 pt-2">
                <% if @user.image? %>
                    <%= image_tag @user.image.url, class: "rounded-circle", :size =>'160x160' %>
                <% else %>
                    <%# 画像指定がない場合デフォルト画像 %>
                    <%= image_tag 'default_profile_user_icon.png', class: "rounded-circle", :size =>'160x160' %>
                <% end %>
            <%# ユーザーネーム %>
            <div class="w-50 ml-0 pr-5"><h4 class="name ml-5 mr-0 pt-2 text-left"><%= @user.user_name %></h4></div>
            <%# プロフィール編集右固定 %>
            <div class="text-right w-25 ml-5">
                <%= link_to 'プロフィール編集', edit_user_registration_path, class: "btn btn-outline-success" %>
            </div>
        </div>
        <div class="P w-100 ml-5 pl-5"><%# <%= @user.email %>
            <div class="card border-success w-75 pl-0">
                <div class="card-header bg-success py-0">
                    <p class="text-light my-0">ひ と こ と</p>
                </div>
                <div class="card-body p-1 pl-3 pr-2 mb-0">    
                    <p class="over"><%= @user.pr%></p>
                </div>
            </div>
        </div>
        <br>
    </div>
        <div class="d-flex mt-3">
            <div class="A w-50 mb-0 mr-4">
                <h5 class="bg-success text-light font-weight-bold pl-4 pr-5 mb-3 ">お気に入り投稿 <span class='fas fa-star' style='color:#f0ff24'></span></h5>
            </div>
            <div class="B w-50 mb-0 ml-1">
                <h5 class="bg-success text-light font-weight-bold pl-4 pr-5 mb-3"><%= @user.user_name %>の投稿 <span class='fas fa-book' style='#00eeff'></span></h5>
            </div>
        </div>
    <div class="row">
    <%# お気に入りした投稿一覧 %>
        <div class="col-6 p-0 pl-3 pr-1">
            <% @user.favorited_tweets.each do |tweet| %>
                <div class="card border-success mb-3">
                    <div class="card-header bg-success px-2 py-0 text-right">
                        <div class="d-flex">
                            <%# ユーザー画像 %>
                            <div class="image pt-1 pb-1">
                                <% if tweet.user.image? %>
                                    <%= image_tag tweet.user.image.url, class: "rounded-circle", :size =>'50x45' %>
                                <% else %>
                                    <%= image_tag 'default_profile_user_icon.png', class: "rounded-circle bg-light", :size =>'50x45' %>
                                <% end %>
                            </div>
                            <%# ユーザーネーム %>
                            <div class="w-75"><h6 class="card-title h5 pt-2 pl-3 text-left text-light font-weight-bold"><%= tweet.user.user_name %></h6></div>
                            <%# dropdowe-menuがリンクに飛ばされた後、何らかの原因で使用できないので 代換えしている %>
                            <div class="w-25">
                                <details>
                                    <summary  class='fas fa-ellipsis-v h4 pt-1 pr-1 text-white d-block'></summary>
                                    <ul class="mt-2 pt-2 p-0 text-center">
                                        <li class="h5 py-1 my-0"><%= link_to '詳細', tweet_path(tweet), class: "text-success" %></li>
                                    <%# 編集、削除ボタンの制御 %>
                                        <% if user_signed_in? && tweet.user == current_user %>
                                            <li class="h5 py-1 my-0"><%= link_to '編集', edit_tweet_path(tweet), class: "text-success" %></li>
                                            <li class="h5 py-1 my-0"><%= link_to '削除', tweet, method: :delete, class: "text-danger", remote: true, data: { confirm: '削除しますか？' } %></li>
                                        <% end %>
                                    </ul>
                                </details>
                            </div>
                        </div>
                    </div>
                    <%# body %>
                    <div class="card-body p-3 overflow-auto">
                        <%# 画像 %>
                        <% if tweet.image? %>
                            <%= image_tag tweet.image.url, class: "card-img-top mb-3", style: "height:10em" %>
                        <% end %>
                        <%# 投稿内容 %>
                        <p class="card-text"><%= tweet.content %></p>
                    </div>
                    <%# Fooyer %>
                    <div class="card-footer bg-light border-light pb-0 pt-0 pl-3 pr-0">
                        <% if user_signed_in? %>
                            <div class="btn-group text-left pb-2" role="group">
                                <%# いいね機能ボタン %>
                                <% if current_user.already_liked?(tweet) %>
                                <div class="btn btn-success border-light">
                                    <%= link_to '#', tweet_like_path(id: tweet.id, tweet_id: tweet.id), method: :delete, class: "position" %>
                                        <span class='fas fa-heart fa-lg' style='color:#ff00ae'></span>
                                    <%= tweet.likes.count %>
                                </div>
                                <% else %>
                                <div class="btn btn-success border-light">
                                    <%= link_to "#", tweet_likes_path(id: tweet.id, tweet_id: tweet.id), method: :post, class: "position" %>
                                        <span class='fas fa-heart fa-lg' style='color:#ff00ae'></span>
                                    <%= tweet.likes.count %>
                                </div>
                                <% end %>
                                <%# お気に入り機能ボタン %>
                                <% if current_user.already_favorited?(tweet) %>
                                <div class="btn btn-success border-light">
                                    <%= link_to '#', tweet_favorite_path(id: tweet.id, tweet_id: tweet.id), method: :delete, class: "screen" %>
                                    <span class='fas fa-star fa-lg' style='color:#f0ff24'></span>
                                    <%= tweet.favorites.count %>   
                                </div>            
                                <% else %>
                                <div class="btn btn-success border-light">
                                    <%= link_to '#', tweet_favorites_path(id: tweet.id, tweet_id: tweet.id), method: :post, class: "screen" %>
                                    <span class='fas fa-star fa-lg' style='color:#f0ff24'></span>
                                    <%= tweet.favorites.count %>
                                </div>
                                <% end %>
                            </div>
                        <% end %>
                    </div>
                </div>
            <% end %>
        </div>
    <%# 自分の投稿一覧 %>
    <div class="col-sm-6 p-0 pl-1">
            <% @user.tweets.each do |tweet| %>
                <div class="card border-success mb-3">
                    <div class="card-header bg-success px-6 py-0 text-right">
                        <%# dropdowe-menuがリンクに飛ばされた後、何らかの原因で使用できないので 代換えしている %>
                        <details>
                            <summary  class='fas fa-ellipsis-v pt-2 text-white'></summary>
                                <ul class="mt-3 p-0 text-center">
                                        <li class="py-1"><%= link_to '詳細', tweet_path(tweet), class: "text-success" %></li>
                                    <%# 編集、削除ボタンの制御 %>
                                    <% if user_signed_in? && tweet.user == current_user %>
                                        <li class="py-1"><%= link_to '編集', edit_tweet_path(tweet), class: "text-success" %></li>
                                        <li class="py-1"><%= link_to '削除', tweet, method: :delete, class: "text-danger" %></li>
                                    <% end %>
                                </ul>
                        </details>
                    </div>
                    <%# body %>
                    <div class="card-body p-3 overflow-auto">
                        <%# 画像 %>
                        <% if tweet.image? %>
                            <%= image_tag tweet.image.url, class: "card-img-top mb-3", style: "height:10em" %>
                        <% end %>
                        <%# 投稿内容 %>
                        <p class="card-text"><%= tweet.content %></p>
                    </div>
                    <%# Fooyer %>
                    <div class="card-footer bg-light border-light pb-0 pt-0 pl-3 pr-0">
                        <% if user_signed_in? %>
                            <div class="btn-group text-left pb-2" role="group">
                                <%# いいね機能ボタン %>
                                <% if current_user.already_liked?(tweet) %>
                                <div class="btn btn-success border-light">
                                    <%= link_to '#', tweet_like_path(id: tweet.id, tweet_id: tweet.id), method: :delete, class: "position" %>
                                        <span class='fas fa-heart fa-lg' style='color:#ff00ae'></span>
                                    <%= tweet.likes.count %>
                                </div>
                                <% else %>
                                <div class="btn btn-success border-light">
                                    <%= link_to "#", tweet_likes_path(id: tweet.id, tweet_id: tweet.id), method: :post, class: "position" %>
                                        <span class='fas fa-heart fa-lg' style='color:#ff00ae'></span>
                                    <%= tweet.likes.count %>
                                </div>
                                <% end %>
                                <%# お気に入り機能ボタン %>
                                <% if current_user.already_favorited?(tweet) %>
                                <div class="btn btn-success border-light">
                                    <%= link_to '#', tweet_favorite_path(id: tweet.id, tweet_id: tweet.id), method: :delete, class: "screen" %>
                                    <span class='fas fa-star fa-lg' style='color:#f0ff24'></span>
                                    <%= tweet.favorites.count %>   
                                </div>            
                                <% else %>
                                <div class="btn btn-success border-light">
                                    <%= link_to '#', tweet_favorites_path(id: tweet.id, tweet_id: tweet.id), method: :post, class: "screen" %>
                                    <span class='fas fa-star fa-lg' style='color:#f0ff24'></span>
                                    <%= tweet.favorites.count %>
                                </div>
                                <% end %>
                            </div>
                        <% end %>
                    </div>
                </div>
            <% end %>
            <%# Jqueryの動きを出すためのコード3種 %>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>    
        </div>
    </div>
    <br>
    <p><%= link_to "トップに戻る", tweets_path, class: "btn btn-block btn-outline-success" %></p>