<div class="title">プロフィール</div>

    <div class="box">
        <%# ユーザーネーム %>
            <div class="name"><h4><%= @user.user_name %></h4></div>
        <%# プロフィール編集右固定 %>
            <div class="edit">
                <%= link_to 'プロフィール編集', edit_user_registration_path, class: "btn btn-outline-success" %>
            </div>

        <div class="flex">
            <div class="l">
                <% if @user.image? %>
                    <%= image_tag @user.image.url, class: "rounded-circle", :size =>'180x180' %>
                <% else %>
                    <%# 画像指定がない場合デフォルト画像 %>
                    <%= image_tag 'default_profile_user_icon.png', class: "rounded-circle", :size =>'180x180' %>
                <% end %>
            </div>
        <%# <%= @user.email %>
        <br>
        <br>
            <div class="t">
                <div class="card mb-3"style="max-width: 1000px;">
                    <div class="card-body">
                        <div class="pr"><p>自己紹介</p></div>
                        <p><%= @user.pr%></p>
                    </div>
                </div>
            </div>
        </div>      
    </div>
<br>
<br>
        <div class="d-flex">
            <div class="A w-50 mb-0 mr-4">
                    <h5 class="bg-success text-light pl-4 pr-5 mb-3 ">お気に入り投稿 <span class='fas fa-star' style='color:#f0ff24'></span></h5>
            </div>
            <div class="B w-50 mb-0 ml-1">
                    <h5 class="bg-success text-light pl-4 pr-5 mb-3"><%= @user.user_name %>の投稿 <span class='fas fa-book' style='color:#ffffff'></ｓ></h5>
            </div>
        </div>
    <div class="row">
    <%# お気に入りした投稿一覧 %>
        <div class="col-sm-6">
            <% @user.favorited_tweets.each do |tweet| %>
                <div class="card border-success mb-3">
                    <div class="card-header bg-success px-6 py-0 text-right">
                        <div class="flex">
                            <div class="left"><h6 class="card-title pt-1 text-left text-light"><%= tweet.user.user_name %></h6></div>
                            <%# dropdowe-menuがリンクに飛ばされた後、何らかの原因で使用できないので 代換えしている %>
                            <div class="left">
                                <details>
                                    <summary  class='fas fa-ellipsis-v pt-2 text-white'></summary>
                                        <ul class="mt-4 p-0 text-center">
                                                <li class="py-1 mt-1"><%= link_to '詳細', tweet_path(tweet), class: "text-success" %></li>
                                            <%# 編集、削除ボタンの制御 %>
                                            <% if user_signed_in? && tweet.user == current_user %>
                                                <li class="py-1"><%= link_to '編集', edit_tweet_path(tweet), class: "text-success" %></li>
                                                <li class="py-1"><%= link_to '削除', tweet, method: :delete, class: "text-danger" %></li>
                                            <% end %>
                                        </ul>
                                </details>
                            </div>
                        </div>
                    </div>
                    <%# Body %>
                    <div class="card-body">
                        <%# 画像 %>
                        <% if tweet.image? %>
                            <%= image_tag tweet.image.url, class: "card-img-top" %>
                        <% end %>
                            <p class="card-text"><%= tweet.content %></p>
                        <% if user_signed_in? %>
                            <div class="btn-group text-left" role="group">
                                <%# いいね機能ボタン %>
                                <% if current_user.already_liked?(tweet) %>
                                    <div class="btn btn-success border-light">
                                        <%= link_to '#', tweet_like_path(id: tweet.id, tweet_id: tweet.id), method: :delete, class: "position" %>
                                            <span class='fas fa-heart fa-lg' style='color:#ff00ae'></span>
                                        <%= tweet.likes.count %>
                                    </div>
                                <% else %>
                                    <div class="btn btn-success border-light">
                                        <%= link_to "#", tweet_likes_path(id: tweet.id, tweet_id: tweet.id), method: :post, class: "position" %>
                                            <span class='fas fa-heart fa-lg' style='color:#ff00ae'></span>
                                        <%= tweet.likes.count %>
                                    </div>
                                <% end %>
                                <%# お気に入り機能ボタン %>
                                <% if current_user.already_favorited?(tweet) %>
                                    <div class="btn btn-success border-light">
                                        <%= link_to '#', tweet_favorite_path(id: tweet.id, tweet_id: tweet.id), method: :delete, class: "screen" %>
                                        <span class='fas fa-star fa-lg' style='color:#f0ff24'></span>
                                        <%= tweet.favorites.count %>   
                                    </div>            
                                <% else %>
                                    <div class="btn btn-success border-light">
                                        <%= link_to '#', tweet_favorites_path(id: tweet.id, tweet_id: tweet.id), method: :post, class: "screen" %>
                                        <span class='fas fa-star fa-lg' style='color:#f0ff24'></span>
                                        <%= tweet.favorites.count %>
                                    </div>
                                <% end %>
                            </div>
                        <% end %>
                    </div>
                </div>
            <% end %>
        </div>
    <%# 自分の投稿一覧 %>
    <div class="col-sm-6">
            <% @user.tweets.each do |tweet| %>
                <div class="card border-success mb-3">
                    <div class="card-header bg-success px-6 py-0 text-right">
                        <%# dropdowe-menuがリンクに飛ばされた後、何らかの原因で使用できないので 代換えしている %>
                        <details>
                            <summary  class='fas fa-ellipsis-v pt-2 text-white'></summary>
                                <ul class="mt-3 p-0 text-center">
                                        <li class="py-1"><%= link_to '詳細', tweet_path(tweet), class: "text-success" %></li>
                                    <%# 編集、削除ボタンの制御 %>
                                    <% if user_signed_in? && tweet.user == current_user %>
                                        <li class="py-1"><%= link_to '編集', edit_tweet_path(tweet), class: "text-success" %></li>
                                        <li class="py-1"><%= link_to '削除', tweet, method: :delete, class: "text-danger" %></li>
                                    <% end %>
                                </ul>
                        </details>
                    </div>
                    <%# Body %>
                    <div class="card-body">
                        <%# 画像 %>
                        <% if tweet.image? %>
                            <%= image_tag tweet.image.url, class: "card-img-top" %>
                        <% end %>
                            <p class="card-text"><%= tweet.content %></p>
                        <% if user_signed_in? %>
                            <div class="btn-group text-left" role="group">
                                <%# いいね機能ボタン %>
                                <% if current_user.already_liked?(tweet) %>
                                    <div class="btn btn-success border-light">
                                        <%= link_to '#', tweet_like_path(id: tweet.id, tweet_id: tweet.id), method: :delete, class: "position" %>
                                            <span class='fas fa-heart fa-lg' style='color:#ff00ae'></span>
                                        <%= tweet.likes.count %>
                                    </div>
                                <% else %>
                                    <div class="btn btn-success border-light">
                                        <%= link_to "#", tweet_likes_path(id: tweet.id, tweet_id: tweet.id), method: :post, class: "position" %>
                                            <span class='fas fa-heart fa-lg' style='color:#ff00ae'></span>
                                        <%= tweet.likes.count %>
                                    </div>
                                <% end %>
                                <%# お気に入り機能ボタン %>
                                <% if current_user.already_favorited?(tweet) %>
                                    <div class="btn btn-success border-light">
                                        <%= link_to '#', tweet_favorite_path(id: tweet.id, tweet_id: tweet.id), method: :delete, class: "screen" %>
                                        <span class='fas fa-star fa-lg' style='color:#f0ff24'></span>
                                        <%= tweet.favorites.count %>   
                                    </div>            
                                <% else %>
                                    <div class="btn btn-success border-light">
                                        <%= link_to '#', tweet_favorites_path(id: tweet.id, tweet_id: tweet.id), method: :post, class: "screen" %>
                                        <span class='fas fa-star fa-lg' style='color:#f0ff24'></span>
                                        <%= tweet.favorites.count %>
                                    </div>
                                <% end %>
                            </div>
                        <% end %>
                    </div>
                </div>
            <% end %>
            <%# Jqueryの動きを出すためのコード3種 %>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>    
        </div>
    </div>
    <br>
    <p><%= link_to "トップに戻る", tweets_path, class: "btn btn-block btn-outline-success" %></p>