<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-success">
        <%# もしユーザーがログインしているならば投稿一覧画面へ %>
        <%  if user_signed_in?  %>
            <span class="navbar-brand mb-4 h5"><%= link_to 'LiNex', tweets_path, class: "navbar-brand" %></span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            </button>
        <%# ログインしていないのならアプリ説明画面へ %>
        <% else %>
            <span class="navbar-brand mb-4 h5"><%= link_to 'LiNex', root_path, class: "navbar-brand" %></span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            </button>
        <% end %>
    
        <div class="navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <%# もしユーザーがログインしているならば下記を表示 %>
        <%  if user_signed_in?  %>
            <div class="navbar-nav">
                <ul class="nav-item active">
                    <%= link_to "プロフィール", user_path(current_user.id) , class: "nav-link" %>
                </ul>

                <ul class="nav-item active">
                    <%= link_to "新規投稿", new_tweet_path, class: "nav-link" %>
                </ul>

                <ul class="nav-item active">
                    <%= link_to "ホーム", tweets_path, class: "nav-link" %>
                </ul>
                
                <ul class="nav-item active">
                    <%= link_to "設定", edit_user_registration_path, class: "nav-link" %>
                </ul>

                <ul class="nav-item">
                    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %>
                </ul>
            </div>
        <%# ログインしていないのなら下記を表示 %>
        <% else %>
            <div class="navbar-nav">

                <ul class="nav-item active">
                    <%= link_to "サインアップ", new_user_registration_path, class: "nav-link" %>
                </ul>

                <ul class="nav-item active">
                    <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
                </ul>
        <% end %>
            </div>
        </div>
    </nav>
</header>
