<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-success">
        <span class="navbar-brand mb-0 h1"><%= link_to 'LiNex', root_path, class: "navbar-brand" %></span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
        <%# もしユーザーがログインしているならば下記を表示 %>
        <%  if user_signed_in?  %>
            <div class="navbar-nav">
                <li class="nav-item active">
                    <%= link_to "プロフィール", user_path(current_user.id) , class: "nav-link" %>
                </li>

                <li class="nav-item active">
                    <%= link_to "新規投稿", new_tweet_path, class: "nav-link" %>
                </li>

                <li class="nav-item active">
                    <%= link_to "設定", edit_user_registration_path, class: "nav-link" %>
                </li>

                <li class="nav-item">
                    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %>
                </li>
        <%# ログインしていないのなら下記を表示 %>
        <% else %>
                <li class="nav-item active">
                    <a class="nav-link" href="#">ホーム<span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <%= link_to "サインイン", new_user_registration_path, class: "nav-link" %>
                </li>

                <li class="nav-item">
                    <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
                </li>
        <% end %>
            </div>
        </div>
    </nav>
</header>
