<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-success">
        <%# もしユーザーがログインしているならば投稿一覧画面へ %>
        <%  if user_signed_in?  %>
            <span class="navbar-brand mb-0 h1"><%= link_to 'LiNex', tweets_path, class: "navbar-brand" %></span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            </button>
        <%# ログインしていないのならアプリ説明画面へ %>
        <% else %>
            <span class="navbar-brand mb-0 h1"><%= link_to 'LiNex', root_path, class: "navbar-brand" %></span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            </button>
        <% end %>
        <%# <div class="d-flex pl-5"> %>
            <%# <a href="#" onclick="history.back();"><i class='fas fa-arrow-left fa-md' style='color:#ffffff'>BACK</i></a> %>
            <%# <a href="#" onclick="history.forward();"><i class='fas fa-arrow-right fa-md' style='color:#ffffff'></i></a> %>
        <%# </div> %>
        <div class="navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <%# もしユーザーがログインしているならば下記を表示 %>
        <%  if user_signed_in?  %>
            <div class="navbar-nav">
                <a class="nav-item active">
                    <%= link_to "プロフィール", user_path(current_user.id) , class: "nav-link text-light" %>
                </a>

                <a class="nav-item active">
                    <%= link_to "新規投稿", new_tweet_path, class: "nav-link text-light" %>
                </a>

                <a class="nav-item active">
                    <%= link_to "Todo", memos_path, class: "nav-link text-light" %>
                </a>
                
                <%# <td class="nav-item active"> %>
                    <%# <%= link_to "設定", user_password_path, class: "nav-link" %>
                <%# </td> %>

                <a class="nav-item text-right ml-5 pr-5">
                    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %>
                </a>
            </div>
        <%# ログインしていないのなら下記を表示 %>
        <% else %>
            <div class="navbar-nav">
                <a class="nav-item active">
                    <%= link_to "サインアップ", new_user_registration_path, class: "nav-link text-light" %>
                </a>

                <a class="nav-item active">
                    <%= link_to "ログイン", new_user_session_path, class: "nav-link text-light" %>
                </a>
        <% end %>
            </div>
        </div>
    </nav>
</header>
